@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文档上传至TPF</title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/JqGrid/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/JqGrid/grid.locale-cn.js"></script>
    <script src="~/Scripts/JqGrid/grid.setcolumns.js"></script>
    <script src="~/Scripts/JqGrid/JqGridHelper.js"></script>    
</head>
<body>
    <div>
        <input type="button" class="btn btn-primary" value="新增文档" onclick="addNew(); " />
       <table id="Docs" >
            </table>
            <div id="pager">
            </div>
         <div id="DocDlg">
            </div> 
    </div>
</body>    
</html>
<script type="text/javascript">
    $(function () {
        initGrid();
        LoadDataToGrid();
    })
    var myData = [];
    var tableObj;
    var AddDocUrl = '@(Url.Action("AddDoc", "FileUpload"))'
    function addNew() {
        var ParentDocId = '@Guid.Empty';
       $.ajax({
           type: "POST",
           ajaxCache: false,
           url: AddDocUrl, //服务
           data: { },
           success: function (data) {
               $('#DocDlg').html(data); //write the dialog content into the diaog container
               $("#DocDlg").dialog({ //dialogize it with JqueryUI
                   autoOpen: true,
                   title: '上传文档',
                        height: 500,
                        width: 660,
                        modal: true,
                        buttons: {
                            '关闭': function () { $(this).dialog("close"); }
                        },
                        close: function () {
                            //refFun();
                        }
                    });
           }, error: function (req, status, error) {
               alert('增加' + '失败,原因:' + error);                   
                }
            });
            }
    function initGrid() {
        tableObj = jQuery("#Docs");
        tableObj.jqGrid({
            data: myData,
            datatype: "jason",
            height: 400,
            rowNum: 50,
            rowList: [50, 500, 1000, 'all'],
            colNames: ["Id", '文件名', "文件路径","创建时间"],
            colModel: [{ name: 'Id', index: 'Id', width: 1, hidden: true, hidedlg: true },
                            { name: "FileName", index: "FileName", width: 100},
							{ name: "FilePath", index: "FilePath", width: 300},
                            { name: "CreateDate", index: "CreateDate", width: 150}
            ],
            emptyrecords: "没有任何数据",
            multiselect: true,
            cellsubmit: 'clientArray',
            cellEdit: false,
            pager: "#pager",
            viewrecords: true,
            rownumbers: true,
            sortorder: "desc",
            sortname: "EndDate",
            sortable: false,
            //onCellSelect: function (rowid, iCol, cellcontent, e) {
            //vRowid = rowid;
            // vICol = iCol;
            //},
            ondblClickRow: function (rowid, iRow, iCol, e) {
                vRowid = rowid;
                vICol = iCol;
                var MetaDataStatus = getOneRowCol(rowid, "MetaData.Quality_Tag_Str");
                if (getOneRowCol(rowid, "CanApp") != "false")
                    GridonCellSelect(tableObj, iCol, rowid, MetaDataStatus);
            }
            @*gridComplete: function () {
                var ids = tableObj.getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var DocName = tableObj.getCell(ids[i], "DocName");
                    var DocPath = tableObj.getCell(ids[i], "DOC_URL");
                    var szwdid = tableObj.getCell(ids[i], "szwdzx_Id");
                    var docid = tableObj.getCell(ids[i], "Id");
                    var pathurl = "";
                    var localpathurl = '@Url.Action("FilePreview", "FilePreview")' + "?fileName=" + encodeURIComponent(DocPath) + "&szwdzxId=" + szwdid + "&docId=" + docid + "&a=" + Math.random();
                    pathurl = '@Url.Action("FileList", "FilePreview")' + "?fileName=" + encodeURIComponent(DocPath) + "&szwdzxId=" + szwdid + "&docId=" + docid + "&a=" + Math.random();
                    var html = "";
                    if (szwdid != "") {
                        html = DocName + "</a>&nbsp;&nbsp;<a class='title' title='快速预览' style='cursor:pointer' " + " ' rel='" + pathurl + "><img src='" + imagesUrl + "/i_view.gif' /></a>";
                    } else {
                        html = "<a target='_blank' title='点击下载' href='@Url.Action("DownFile", "FTP")?filepath=" + encodeURIComponent(DocPath) + "&docId=" + docid + "&WellboreId=" + WellboreId + "&a=" + Math.random() + "'>" + DocName + "</a>&nbsp;&nbsp;<a class='title' title='快速预览' style='cursor:pointer' " + " ' rel='" + localpathurl + "><img src='" + imagesUrl + "/i_view.gif' /></a>";
                    }
                    tableObj.setCell(ids[i], "DocDisplayName", html);
                }
                if (tableObj.jqGrid('getDataIDs').length > 0) {
                    GetUpdateTargetData(code, dataType, tableObj);
                    ExecErrorProcess(code, tableObj, dataType, code);
                }
                Setcluetip();
            }*@
        }).navGrid('#pager', { refresh: false, edit: false, add: false, del: false, search: true, searchtext: '搜索' }, {}, {}, {}, {
            width: 680, sopt: ['eq', 'bw', 'ne', 'lt', 'le', 'gt', 'ge', 'ew', 'cn']
        }).jqGrid('navButtonAdd', "#pager", {
            caption: "", buttonicon: "setColumns", onClickButton: function () {
                tableObj.setColumns({ colnameview: false, dataheight: 400, updateAfterCheck: true }); $("#eData").text("确定");
            }, position: "last", title: "列隐藏", cursor: "pointer"
        }).jqGrid('navButtonAdd', "#pager", {
            caption: "", buttonicon: "ui-icon-pin-w", onClickButton: function () {
                HideEmptyCol();
            }, position: "last", title: "列过滤", cursor: "pointer"
        });
        jQuery(window).bind('resize', function () {
            //jQuery("#Docs").setGridWidth(document.body.clientWidth - 20, true); //设置自动宽度。 
        }).trigger('resize');
    }
    function dialogClose() {
        $('#DocDlg').dialog("close"); $.ajaxSetup({ cache: false })
    }
    var GetAllDocUrl = '@(Url.Action("GetAllDoc", "FileUpload"))';
    function LoadDataToGrid() {
        $.ajax({
            type: "POST",
            url: GetAllDocUrl, //服务
            data: {},
            success: function (data) {
                myData = data;
                refreshGrid(tableObj, myData);
               // Setcluetip();
            }, error: function (req, status, error) {
                alert(error);
            }
        });
    }
</script>
